<style type="text/css">
  [type=button] {
    margin: 3px auto;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked + span.gender  {
    background-color: red;
    border-color: red;
  }

  input[type="checkbox"]:checked + span.airport {
    background-color: green;
    border-color: green;
  }

  input[type="checkbox"]:checked + span.age-range {
    background-color: yellow;
    border-color: gray;
    color: gray;
  }
</style>

<h3>Find your Layover Angel</h3>

<%= form_tag angels_path(), method: :get do %>

<h4>GENDER</h4>
  <div>
    <label>
      <%= check_box_tag "gender[]", "male" %>
      <span class="gender btn btn-primary">Men</span>
    </label>
    <label>
      <%= check_box_tag "gender[]", "female" %>
      <span class="gender btn btn-primary">Women</span>
    </label>
  </div>

<h4>AIRPORT</h4>
  <div>
    <label>
    <%= check_box_tag "airport[]", "LAX" %>
    <span class="airport btn btn-primary">LAX</span>
   </label>  
   <label>
    <%= check_box_tag "airport[]", "ONT" %>
    <span class="airport btn btn-primary">ONT</span>
   </label>  
   <label>
    <%= check_box_tag "airport[]", "BUR" %>
    <span class="airport btn btn-primary">BUR</span>
   </label>  
   <label>
    <%= check_box_tag "airport[]", "LGB" %>
    <span class="airport btn btn-primary">LGB</span>
   </label> 
   <label>
    <%= check_box_tag "airport[]", "SNA" %>
    <span class="airport btn btn-primary">SNA</span>
   </label>  
   <label>
    <%= check_box_tag "airport[]", "SMA" %>
    <span class="airport btn btn-primary">SMA</span>
   </label> 
  </div>

<h4>AGE RANGE</h4>
  <div>
    <label>
      <%= check_box_tag "age[]", "21-27" %>
      <span class="gender btn btn-primary">Men</span>
    </label>
    <label>
      <%= check_box_tag "age[]", "28-33" %>
      <span class="gender btn btn-primary">Men</span>
    </label>
    <label>
      <%= check_box_tag "age[]", "34-39" %>
      <span class="gender btn btn-primary">Men</span>
    </label>
    <label>
      <%= check_box_tag "age[]", "40-50" %>
      <span class="gender btn btn-primary">Men</span>
    </label>
    <label>
      <%= check_box_tag "age[]", "51-63" %>
      <span class="gender btn btn-primary">Men</span>
    </label>
  </div>

<h4>ZODIAC</h4>
   <div>
    <label>
      <%= check_box_tag "zodiac[]", "ARIES" %>
      <span class="gender btn btn-primary">Men</span>
    </label>
    <label>
      <%= check_box_tag "zodiac[]", "TAURUS" %>
      <span class="gender btn btn-primary">Men</span>
    </label>
    <label>
      <%= check_box_tag "zodiac[]", "GEMINI" %>
      <span class="gender btn btn-primary">Men</span>
    </label>
    <label>
      <%= check_box_tag "zodiac[]", "CANCER" %>
      <span class="gender btn btn-primary">Men</span>
    </label>
   </div>  
   <div>
    <label>
      <%= check_box_tag "zodiac[]", "LEO" %>
      <span class="gender btn btn-primary">Men</span>
    </label>
    <label>
      <%= check_box_tag "zodiac[]", "VIRGO" %>
      <span class="gender btn btn-primary">Men</span>
    </label>
    <label>
      <%= check_box_tag "zodiac[]", "LIBRA" %>
      <span class="gender btn btn-primary">Men</span>
    </label>
    <label>
      <%= check_box_tag "zodiac[]", "SCORPIO" %>
      <span class="gender btn btn-primary">Men</span>
    </label>
   </div>  
   <div>
    <label>
      <%= check_box_tag "zodiac[]", "SAGITTARIUS" %>
      <span class="gender btn btn-primary">Men</span>
    </label>
    <label>
      <%= check_box_tag "zodiac[]", "AQUARIUS" %>
      <span class="gender btn btn-primary">Men</span>
    </label>
    <label>
      <%= check_box_tag "zodiac[]", "CAPRICORN" %>
      <span class="gender btn btn-primary">Men</span>
    </label>
    <label>
      <%= check_box_tag "zodiac[]", "PISCES" %>
      <span class="gender btn btn-primary">Men</span>
    </label>
   </div>  

<h4>LANGUAGES</h4>

   <div>
    <label>
      <%= check_box_tag "languages[]", "ENGLISH" %>
      <span class="gender btn btn-primary">Men</span>
    </label>
    <label>
      <%= check_box_tag "languages[]", "SPANISH" %>
      <span class="gender btn btn-primary">Men</span>
    </label>
   </div>
   <div> 
    <label>
      <%= check_box_tag "languages[]", "GERMAN" %>
      <span class="gender btn btn-primary">Men</span>
    </label>
    <label>
      <%= check_box_tag "languages[]", "FRENCH" %>
      <span class="gender btn btn-primary">Men</span>
    </label>
   </div> 
   <div> 
    <label>
      <%= check_box_tag "languages[]", "MANDARIN" %>
      <span class="gender btn btn-primary">Men</span>
    </label>
    <label>
      <%= check_box_tag "languages[]", "ARABIC" %>
      <span class="gender btn btn-primary">Men</span>
    </label>
   </div> 

  <br>
  <br>
  <div>
    <%= submit_tag "Find your Angel!", class: "btn btn-success btn-lg" %>
  </div>
 
<% end %>