<style type="text/css">
  [type=button] {
    margin: 3px auto;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked + span.gender  {
    background-color: red;
    border-color: red;
  }

  input[type="checkbox"]:checked + span.airport {
    background-color: green;
    border-color: green;
  }

  input[type="checkbox"]:checked + span.age-range {
    background-color: yellow;
    border-color: gray;
    color: gray;
  }

  input[type="checkbox"]:checked + span.zodiac {
    background-color: black;
    border-color: gray;
    color: white;
  }

  input[type="checkbox"]:checked + span.languages {
    background-color: orange;
    border-color: gray;
    color: gray;
  }
</style>

<h3>Find your Layover Angel</h3>

<%= form_tag angels_path(), method: :get do %>

<h4>GENDER</h4>
  <div>
    <label>
      <%= check_box_tag "gender[]", "male" %>
      <span class="gender btn btn-primary">MEN</span>
    </label>
    <label>
      <%= check_box_tag "gender[]", "female" %>
      <span class="gender btn btn-primary">WOMEN</span>
    </label>
  </div>

<h4>AIRPORT</h4>
  <div>
    <label>
    <%= check_box_tag "airport[]", "LAX" %>
    <span class="airport btn btn-primary">LAX</span>
   </label>  
   <label>
    <%= check_box_tag "airport[]", "ONT" %>
    <span class="airport btn btn-primary">ONT</span>
   </label>  
   <label>
    <%= check_box_tag "airport[]", "BUR" %>
    <span class="airport btn btn-primary">BUR</span>
   </label>  
   <label>
    <%= check_box_tag "airport[]", "LGB" %>
    <span class="airport btn btn-primary">LGB</span>
   </label> 
   <label>
    <%= check_box_tag "airport[]", "SNA" %>
    <span class="airport btn btn-primary">SNA</span>
   </label>  
   <label>
    <%= check_box_tag "airport[]", "SMA" %>
    <span class="airport btn btn-primary">SMA</span>
   </label> 
  </div>

<h4>AGE RANGE</h4>
  <div>
    <label>
      <%= check_box_tag "age[]", "21-27" %>
      <span class="age-range btn btn-primary">21-27</span>
    </label>
    <label>
      <%= check_box_tag "age[]", "28-33" %>
      <span class="age-range btn btn-primary">28-33</span>
    </label>
    <label>
      <%= check_box_tag "age[]", "34-39" %>
      <span class="age-range btn btn-primary">34-39</span>
    </label>
    <label>
      <%= check_box_tag "age[]", "40-50" %>
      <span class="age-range btn btn-primary">40-50</span>
    </label>
    <label>
      <%= check_box_tag "age[]", "51-63" %>
      <span class="age-range btn btn-primary">51-63</span>
    </label>
  </div>

<h4>ZODIAC</h4>
   <div>
    <label>
      <%= check_box_tag "zodiac[]", "aries" %>
      <span class="zodiac btn btn-primary">ARIES</span>
    </label>
    <label>
      <%= check_box_tag "zodiac[]", "taurus" %>
      <span class="zodiac btn btn-primary">TAURUS</span>
    </label>
    <label>
      <%= check_box_tag "zodiac[]", "gemini" %>
      <span class="zodiac btn btn-primary">GEMINI</span>
    </label>
    <label>
      <%= check_box_tag "zodiac[]", "cancer" %>
      <span class="zodiac btn btn-primary">CANCER</span>
    </label>
   </div>  
   <div>
    <label>
      <%= check_box_tag "zodiac[]", "leo" %>
      <span class="zodiac btn btn-primary">LEO</span>
    </label>
    <label>
      <%= check_box_tag "zodiac[]", "virgo" %>
      <span class="zodiac btn btn-primary">VIRGO</span>
    </label>
    <label>
      <%= check_box_tag "zodiac[]", "libra" %>
      <span class="zodiac btn btn-primary">LIBRA</span>
    </label>
    <label>
      <%= check_box_tag "zodiac[]", "scorpio" %>
      <span class="zodiac btn btn-primary">SCORPIO</span>
    </label>
   </div>  
   <div>
    <label>
      <%= check_box_tag "zodiac[]", "sagittarius" %>
      <span class="zodiac btn btn-primary">SAGITTARIUS</span>
    </label>
    <label>
      <%= check_box_tag "zodiac[]", "aquarious" %>
      <span class="zodiac btn btn-primary">AQUARIOUS</span>
    </label>
    <label>
      <%= check_box_tag "zodiac[]", "capricorn" %>
      <span class="zodiac btn btn-primary">CAPRICORN</span>
    </label>
    <label>
      <%= check_box_tag "zodiac[]", "pisces" %>
      <span class="zodiac btn btn-primary">PISCES</span>
    </label>
   </div>  

<h4>LANGUAGES</h4>

   <div>
    <label>
      <%= check_box_tag "languages[]", "ENGLISH" %>
      <span class="languages btn btn-primary">English</span>
    </label>
    <label>
      <%= check_box_tag "languages[]", "SPANISH" %>
      <span class="languages btn btn-primary">Spanish</span>
    </label>
   </div>
   <div> 
    <label>
      <%= check_box_tag "languages[]", "GERMAN" %>
      <span class="languages btn btn-primary">German</span>
    </label>
    <label>
      <%= check_box_tag "languages[]", "FRENCH" %>
      <span class="languages btn btn-primary">French</span>
    </label>
   </div> 
   <div> 
    <label>
      <%= check_box_tag "languages[]", "Mandarin" %>
      <span class="languages btn btn-primary">Mandarin</span>
    </label>
    <label>
      <%= check_box_tag "languages[]", "Arabic" %>
      <span class="languages btn btn-primary">Arabic</span>
    </label>
   </div> 

  <br>
  <br>
  <div>
    <%= submit_tag "Find your Angel!", class: "btn btn-success btn-lg" %>
  </div>
 
<% end %>