<style type="text/css">

li#ourname{ 
font-family: 'Helvetica', cursive;
color: white;
font-size: 2.75em;
text-shadow: 1px 1px 1px black;
}

div.info{
font-family: 'Helvetica', cursive;
color: white;
font-size: 1.45em;
text-shadow: 1px 1px 1px black;

}

</style>


<h1>Angels List</h1>
<br>

<ul>
  <% @angels.each do |angel| %>
    <li id="ourname">
      <img src="<%= angel.photo_uri %>" width="205"> <%= angel.name %>
    </li>
     <div class="info">
    <li>
      <%= angel.airport %>
    </li>
    <li>
      <%= angel.age %>, <%= angel.gender %>,, <%= angel.zodiac %>
    </li>
    <li>
      <%= angel.languages %>
    </li>
    <li>Favorite Local spots:
      <%= angel.top3_localspots %>
    </li>
    <li>Favorite travel spots:
      <%= angel.top3_travels %>
    </li>
    <li>Favorite historical figures:
      <%= angel.top3_historicalfigs %>
    </li>
    <li>about me:
      <%= angel.bio %>
    </li>
    <br>
    </div>

  <% end %>
</ul>
</div>

