<h4>Member you are logged in!.</h4>

<div>
  <h4><%= @user.name %></h4>
  <%= @user.last_name %>
</div>

<div>  <%= @user.bio %></div>

<div>
</div>




<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<div>
<div class="row-">
<div class="col-md-2 col-md-offset-3">
<%= link_to 'Find Angels', filters_angels_path(), :class => "btn btn-success btn-lg" %>
</div>

<div>
<div class="row-">
<div class="col-md-3 col-md-offset-1">
<%= link_to 'Update Profile', edit_user_path(), :class => "btn btn-warning btn-lg" %>
</div>




